@model OneSWebBooking.Models.Computer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ComputerName" class="control-label"></label>
                <input asp-for="ComputerName" class="form-control" />
                <span asp-validation-for="ComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CounterName" class="control-label"></label>
                <input asp-for="CounterName" class="form-control" />
                <span asp-validation-for="CounterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress" class="control-label"></label>
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MacAddress" class="control-label"></label>
                <input asp-for="MacAddress" class="form-control" />
                <span asp-validation-for="MacAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerCategoryId" class="control-label"></label>
                <input asp-for="ComputerCategoryId" class="form-control" />
                <span asp-validation-for="ComputerCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerCategory" class="control-label"></label>
                <input asp-for="ComputerCategory" class="form-control" />
                <span asp-validation-for="ComputerCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <input asp-for="AreaId" class="form-control" />
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortType" class="control-label"></label>
                <input asp-for="PortType" class="form-control" />
                <span asp-validation-for="PortType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwallowedCardCount" class="control-label"></label>
                <input asp-for="SwallowedCardCount" class="form-control" />
                <span asp-validation-for="SwallowedCardCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-check-input" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
